<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a09_18079021_nguyenvanhung_422000419502_nhom01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.09_18079021_NguyenVanHung_422000419502_Nhom01">
        <activity android:name=".SuccessFullScreen"></activity>
        <activity android:name=".UnsuccessFullScreen" />
        <activity android:name=".TransferScreen" />
        <activity android:name=".RegisterScreem" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>